.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
	overflow: hidden;
}
.THIS .ls-text {
	font-size: 1em;
	color: #9fa1a3;
}
.THIS a {
    text-decoration: none;
}
.THIS .style{
    font-size:1.2rem;
    color:#9fa1a3;
    text-align: center;
}
.THIS .overCloud{
    z-index: 5;
}
.THIS .ls-card {
	position: relative;
	padding: 1rem;
	background: rgb(255, 255, 255);
	border: 1px solid #d4d4d4;
	border-radius: 12px;
	background-clip: padding-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
}
.THIS .ls-card_hover:hover {
    box-shadow: 0 0px 9px rgba(0,0,0,0.125), 5px 5px 16px rgba(0,0,0,0.22);
}
.THIS .ls-icon svg {
	fill: #0070d2;
}
@media screen and (max-width: 700px){
	.THIS {
		margin-left: 2px;
		margin-right: 2px;
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
	.THIS .ls-card {
		margin-top: 4px;
		margin-bottom: 4px;
		padding: 4px;
	}
}