.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    padding: 5vw 20vw 5vw 20vw;
    background: #f4f7f6;
    overflow: hidden;
    color:#202121;
}
.THIS .ls-text-uppercase {
	text-transform: uppercase;
    padding-bottom: 2vh;
}
.THIS .normal{
    font-size:1.2rem;
    color: #4a4a4a;
}
.THIS .paddingPage{
    margin-bottom: 10px;
}

@media screen and (max-width: 900px){
    .THIS  {
        padding: 20vw 5vw 5vw 5vw;
    }
    .THIS .normal{
        font-size:0.9rem;
	}
	.THIS .slds-p-around_large {
		padding: 8px;
	}
}
.THIS .slds-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: white;
	border-radius: 12px;
}
.THIS .slds-card:hover {
    box-shadow: 0 0px 9px rgba(0,0,0,0.125), 5px 5px 16px rgba(0,0,0,0.22);
}
.THIS .ls-pipeline {
	padding-top: 21.62% !important;
}
.THIS {
	/* margin-left: auto;
	margin-right: auto; */
}