.THIS {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    background-color: white;
}
.THIS .onTop{
    position: absolute;
    z-index: 9999;
    margin: 20px;
    width: 50px;
    height: 50px;
}
.THIS .video{
    width: 100%;
    height: auto;
    margin-top:-10vw;

}
.THIS .videoWrapper{
    height: 25vw;
    width: 100%;
    overflow: hidden;
    display: block;
}
.THIS .thumbnailWrapper{
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: none;
}
.THIS .thumbnail{
    height: auto;
    width: 100%;
}
.THIS .textWrapper{
    top: 11vw;
    margin-left: 27%;
    position: absolute;
    width: 20%;
    color: white;
    z-index: 99;
}
.THIS .imgWrapper{
    top: 7vw;
    margin-left: 50%;
    position: absolute;
    width: 17%;
}
.THIS .larger{
    font-size: 2.75rem;
}

@media screen and (max-width: 900px) {
    .THIS .larger{
    	font-size: 2.5rem;
	}
    .THIS .smaller{
    	font-size: 0.75rem;
	}
    .THIS .imgWrapper{
        margin-left: 40%;
        width: 40%;
	}
    .THIS .textWrapper{
        top: 100px;
        margin-left: 10%;
    	width: 30%;   
	}
    .THIS .thumbnailWrapper{
        height: auto;
        display: block;
	}
    .THIS .videoWrapper{
        height: auto;
    	display: none;
	}
}
@media screen and (max-width: 700px) {
    .THIS .larger{
    	font-size: 1rem;
	}
    .THIS .smaller{
    	font-size: 0.75rem;
	}
    .THIS .thumbnailWrapper{
        height: auto;
        display: block;
	}
    .THIS .videoWrapper{
        height: auto;
    	display: none;
    }
    .THIS .textWrapper{
        top: 25vw;
        margin-left: 10%;
    	width: 30%;
    }
    .THIS .imgWrapper{
        top: 19vw;
        margin-left: 40%;
        width: 40%;
    }
}