.THIS {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    padding-top: 2vh;
}
.THIS .onTop{
    position: absolute;
    z-index: 9999;
    margin: 1vw;
    width: 50px;
    height: 50px;
}
.THIS .video{
    width: 100vw;
    height: auto;
}
.THIS .videoWrapper{
    height: auto;
    width: 100vw;
    overflow: hidden;
    display: block;
}
.THIS .thumbnailWrapper{
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: none;
}
.THIS .thumbnail{
    height: auto;
    width: 100%;
}
.THIS .textWrapper{
    top: 40vh;
    position: absolute;
    width: 20vw;
    color: white;
    z-index: 99;
    animation: fade2InLeft 4s ease-out forwards;
}
.THIS .imgWrapper{
    top: 35vh;
    position: absolute;
    width: 17vw;
    animation: fade2InRight 4s ease-out forwards;
}
.THIS .larger{
    font-size: 2.75rem;
}
@-webkit-keyframes fade2InLeft {
    from{
         opacity: 0;
         left: 20vw;
     }
     to{
         opacity: 1;
         left: 32vw;
     }
 }
 @-moz-keyframes fade2InLeft {
    from{
         opacity: 0;
         left: 20vw;
     }
     to{
         opacity: 1;
         left: 32vw;
     }
 }
 @keyframes fade2InLeft { 
    from{
         opacity: 0;
         left: 20vw;
     }
     to{
         opacity: 1;
         left: 32vw;
     }
 
 }@-webkit-keyframes fade2InRight {
    from{
         opacity: 0;
         left: 62vw;
     }
     to{
         opacity: 1;
         left: 52vw;
     }
 }
 @-moz-keyframes fade2InRight {
    from{
         opacity: 0;
         left: 62vw;
     }
     to{
         opacity: 1;
         left: 52vw;
     }
 }
 @keyframes fade2InRight { 
    from{
         opacity: 0;
         left: 62vw;
     }
     to{
         opacity: 1;
         left: 52vw;
     }
 }
@media screen and (max-width: 900px) {
    .THIS .larger{
    	font-size: 2.5rem;
	}
    .THIS .smaller{
    	font-size: 0.75rem;
	}
    .THIS .imgWrapper{
        margin-left: 40%;
        width: 40%;
        display: none;
	}
    .THIS .textWrapper{
        top: 100px;
        margin-left: 10%;
    	width: 30%;
        display: none;
	}
    .THIS .thumbnailWrapper{
        height: auto;
        display: block;
	}
    .THIS .videoWrapper{
        height: auto;
        display: none;
        margin-top: 1vh;
	}
}
@media screen and (max-width: 700px) {
    .THIS .larger{
    	font-size: 1rem;
	}
    .THIS .smaller{
    	font-size: 0.75rem;
	}
    .THIS .thumbnailWrapper{
        height: auto;
        display: block;
	}
    .THIS .videoWrapper{
        height: auto;
    	display: none;
    }
    .THIS .textWrapper{
        top: 25vw;
        margin-left: 10%;
    	width: 30%;
        display: none;
    }
    .THIS .imgWrapper{
        top: 19vw;
        margin-left: 40%;
        width: 40%;
        display: none;
    }
}