.THIS {

}
.THIS .presentation{
    min-height: 100vh;
    background: linear-gradient(-45deg, #EE7752, rgb(207, 64, 88), #23A6D5, #23D5AB);
    background-size: 300% 300%;
    z-index: 0;
    -webkit-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    -moz-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
}
.THIS .fadeInLeft{ 
    animation: fadeInLeft 1s ease-out forwards;
    margin-top: 2vh;
}
.THIS .fadeInRight{ 
    animation: fadeInRight 1s ease-out forwards;
    margin-top: 2vh;
}
.THIS .fadeInTop{ 
    animation: fadeInTop 1s ease-out forwards;
    margin-top: 2vh;
}
.THIS .appear{ 
    animation: appear 1s ease-out forwards;
    margin-top: 2vh;
}
.THIS .presentation-text{
    position: absolute;
    top: 65vh;
    width: 100vw;
    z-index: 1;
    font-size: 3rem;
    line-height: 1.65;
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    letter-spacing: .0625rem;
}
.THIS .slide-text{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 40vw;
    margin: 0 auto;
    margin-right: 0vw;
    color: white;
    font-size: 2rem;
}
.THIS .slide-img{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 40vw;
    margin: 0 auto;
}
.THIS .img-centered{
    margin: 0 auto;
}
.THIS .presentation-text-large{
    top: 35vh;
    font-size: 7rem;
}
.THIS .presentation-text-left{
    margin-left: 15vw;
}
.THIS .presentation-text-right{
    margin-left: 60vw;
}
@-webkit-keyframes dynamic-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes dynamic-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes dynamic-color { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-webkit-keyframes fadeInLeft {
    from{
         opacity: 0;
         margin-left: -50vw;
     }
     to{
         opacity: 1;
         margin: 0 auto;
     }
 }
 @-moz-keyframes fadeInLeft {
    from{
         opacity: 0;
         margin-left: -50vw;
     }
     to{
         opacity: 1;
         margin: 0 auto;
     }
 }
 @keyframes fadeInLeft { 
    from{
         opacity: 0;
         margin-left: -50vw;
     }
     to{
         opacity: 1;
         margin: 0 auto;
     }
 }
 @-webkit-keyframes fadeInRight {
    from{
         opacity: 0;
         margin-left: 100vw;
     }
     to{
         opacity: 1;
         margin: 0 auto;
     }
 }
 @-moz-keyframes fadeInRight {
    from{
         opacity: 0;
         margin-left: 100vw;
     }
     to{
         opacity: 1;
         margin: 0 auto;
     }
 }
 @keyframes fadeInRight { 
    from{
         opacity: 0;
         margin-left: 100vw;
     }
     to{
         opacity: 1;
         margin: 0 auto;
        }
 }@-webkit-keyframes fadeInTop {
    from{
         opacity: 0;
         margin-left: -10vh;
     }
     to{
         opacity: 1;
        margin: 0 auto;
     }
 }
 @-moz-keyframes fadeInTop {
    from{
         opacity: 0;
         margin-left: -10vh;
     }
     to{
         opacity: 1;
        margin: 0 auto;
     }
 }
 @keyframes fadeInTop { 
    from{
         opacity: 0;
         margin-top: -10vh;
     }
     to{
         opacity: 1;
         margin-top: 0;
     }
 }
  @-webkit-keyframes appear {
     from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }
  @-moz-keyframes appear {
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
  }
  @keyframes appear { 
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
  }

  @media screen and (max-width: 1000px) {
    .THIS .slide-text{
        font-size: 1.2rem;
    }
}