.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    padding: 5vw 15vw 5vw 15vw;
    background: #f4f7f6;
    overflow: hidden;
    color:#202121;
    font-size: 1rem;
}
.THIS #link {
    text-decoration: none;
    color: black;
}
.THIS .paddingCards{
    padding: 0vh 0vw 0vh 0vw;
}
.THIS .paddingCard{
    padding: 20px 100px 20px 50px;
}
.THIS .newsImg{
    max-width: 100%;
    overflow: hidden;
    border-right:  1px solid #dddddd;
    padding-right: 40px;
    
}
.THIS .marginTittleNews{
        margin-left: 48px;
    }
.THIS .BWhite{
    background-color: white;
}
.THIS .background{
    background-image: url('https://lsdemos.force.com/demos/resource/1524656321000/BlueBackground');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.THIS .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.THIS .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.THIS .margin-botton-10px{
    margin-bottom: 10px;
}
.THIS #link {
    text-decoration: none;
}

@media screen and (max-width: 900px){
    .THIS  {
        padding: 20vw 5vw 5vw 5vw;
    }
    .THIS .paddingCards{
        padding: 0vw 0vw 0vw 0vw;
    }
    .THIS .paddingCard{
        padding: 1vw 1vw 1vw 1vw;
    }
    .THIS .marginTittleNews{
        margin-left: 0px;
        
    }
    .THIS .styleMobile{
        padding: 0rem;
    }
    .THIS .styleMobile1{
        margin: 0rem;
    }
    .THIS .paddingCards{
        padding: 2vh 0vw 2vh 0vw;
    }
}