.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    padding: 5vw 15vw 5vw 15vw;
    background: #f4f7f6;
    overflow: hidden;
    color:#202121;
}
.THIS #innovationTab{
    margin-top: 5vh;
}
.THIS .slds-text-body_regular{
    font-size:1.2rem;
    color: #4a4a4a;
}

.THIS .width-40vw{
    width: 40vw;
}
.THIS .text-padding{
    padding: 2vh 0vw 2vh 0vw;
}
.THIS .LS_card{
    background: linear-gradient(-45deg, #23D5AB, #23A6D5);
    background-size: 100% 100%;
    padding: 0px;
    overflow:hidden;
    margin-bottom: 10px;
}
.THIS .LS_card:hover{
    width:auto;
    height:auto;
}
.THIS .LS_card-body{
    background-color:#f2f2f3;
    overflow:hidden;
   
}

.THIS .LS_title{
    font-size:1.05rem;
    color:white;
    margin-right:10px;
    text-align: center;
    padding: 0.4vw;
}

.THIS .LS_image{
    width: 100%;
    height:100%;
    display: block;
}

.THIS .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    
  }

  .THIS .container:hover .overlay {
    opacity: 1;
  }

  .THIS .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .THIS .imgHover{
    width: 35vw;
  }
  .THIS .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.THIS .containerMobile{
    display: none;
}
.THIS .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  @media screen and (max-width: 800px){
    .THIS  {
        padding: 20vw 5vw 5vw 5vw;
    }
    .THIS .slds-text-body_regular {
        font-size: 0.9rem;
    }
    .THIS .imgHover{
        width: 90vw;
    }
    .THIS .width-40vw{
        width: 90vw;
    }
    /* .THIS .containerMobile{
        display: block;
    }
    .THIS .container{
        display: none;
    } */
}