.THIS {

}
.THIS .presentation{
    font-family: 'Salesforce Sans',Arial,sans-serif;
    min-height: 100vh;
	background: linear-gradient(-45deg, #EE7752, rgb(207, 64, 88), #23A6D5, #23D5AB);
	background-size: 300% 300%;
    z-index: 0;
    -webkit-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    -moz-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
}
.THIS .presentationALM{
    min-height: 100vh;
	background: linear-gradient(-45deg,rgb(207, 64, 88), #EE7752, rgb(9, 172, 134), rgb(35, 91, 213));
	background-size: 300% 300%;
    z-index: 0;
    -webkit-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    -moz-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
}
.THIS .presentationInnov{
    min-height: 100vh;
	background: linear-gradient(-45deg,rgb(207, 93, 64), rgb(126, 238, 82), #23A6D5, rgb(133, 35, 213));
	background-size: 300% 300%;
    z-index: 0;
    -webkit-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    -moz-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
}
.THIS .presentationLightning{
    min-height: 100vh;
	background: linear-gradient(-45deg,rgb(78, 47, 252), rgb(12, 144, 221), rgb(163, 107, 253), rgb(97, 18, 161));
	background-size: 300% 300%;
    z-index: 0;
    -webkit-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    -moz-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
}
.THIS .presentationClouds{
    min-height: 100vh;
	background: linear-gradient(-45deg, #0c2441, #1d5da7,#2a7ed8, #23a7ff);
	background-size: 300% 300%;
    z-index: 0;
    -webkit-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    -moz-animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
    animation: dynamic-color 20s cubic-bezier(0.1, 0.2, 0.2, 0.1) infinite;
}
@-webkit-keyframes dynamic-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes dynamic-color {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes dynamic-color { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.THIS .fadeInTop{ 
    animation: fadeInTop 2s ease-out forwards;
    margin-top: 2vh;
}
.THIS .fadeOut{ 
    animation: fadeOutTop 2s ease-in forwards;
}
.THIS .disolve{ 
    animation: disolve 2s ease-in forwards;
}
.THIS .fadeIn{ 
    animation: fadeOutBottom 2s ease-in forwards;
}
@-webkit-keyframes fadeInLeft {
   from{
        opacity: 0;
        margin-left: -50vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@-moz-keyframes fadeInLeft {
   from{
        opacity: 0;
        margin-left: -50vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes fadeInLeft { 
   from{
        opacity: 0;
        margin-left: -50vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@-webkit-keyframes fadeInRight {
   from{
        opacity: 0;
        margin-left: 10vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@-moz-keyframes fadeInRight {
   from{
        opacity: 0;
        margin-left: 10vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes fadeInRight { 
   from{
        opacity: 0;
        margin-left: 10vw;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}@-webkit-keyframes fadeInTop {
   from{
        opacity: 0;
        margin-left: -10vh;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@-moz-keyframes fadeInTop {
   from{
        opacity: 0;
        margin-left: -10vh;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes fadeInTop { 
   from{
        opacity: 0;
        margin-top: -10vh;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}
@-webkit-keyframes fadeOutTop {
    from{
         opacity: 1;
         margin-top: inherit;
     }
     to{
         opacity: 0;
         margin-top: -100vh;
     }
 }
 @-moz-keyframes fadeOutTop {
    from{
        opacity: 1;
        margin-top: inherit;
    }
    to{
        opacity: 0;
        margin-top: -100vh;
    }
 }
 @keyframes fadeOutTop { 
    from{
        opacity: 1;
        margin-top: inherit;
    }
    to{
        opacity: 0;
        margin-top: -100vh;
    }
 }
 @-webkit-keyframes disolve {
    from{
         opacity: 1;
         margin-top: inherit;
     }
     to{
         opacity: 0;
         margin-top: -100vh;
     }
 }
 @-moz-keyframes disolve {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
 }
 @keyframes disolve { 
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
 }
 @-webkit-keyframes fadeOutBottom {
    from{
         opacity: 0;
         margin-top: inherit;
     }
     to{
         opacity: 1;
         margin-top: 0vh;
     }
 }
 @-moz-keyframes fadeOutBottom {
    from{
        opacity: 0;
        margin-top: inherit;
    }
    to{
        opacity: 1;
        margin-top: 0vh;
    }
 }
 @keyframes fadeOutBottom { 
    from{
        opacity: 0;
        margin-top: inherit;
    }
    to{
        opacity: 1;
        margin-top: 0vh;
    }
 }
.THIS .presentation-text{
    position: absolute;
    top: 65vh;
    width: 100vw;
    z-index: 1;
    font-size: 3rem;
    line-height: 1.65;
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    letter-spacing: .0625rem;
}
.THIS .presentation-text-large{
    top: 35vh;
    font-size: 7rem;
}
.THIS a{
    color: #ffffff;
}
.THIS .show-up{
    margin-top: -100vh; 
}
.THIS .scroll{
    position: fixed;
    z-index: 9999;
    right: 1vw;
    width: 50px;
    height: 50px;
    color: rgb(32, 32, 32);
}
.THIS .scroll-up{
    top: 8vh;
}
.THIS .scroll-down{
    top: 89vh;
}
.THIS .element0{
    min-height: 100vh;
    background-color: white;
    z-index: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.THIS .element1{
    min-height: 100vh;
    background-color: white;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.THIS .element2{
    min-height: 100vh;
    background-color: white;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.THIS .element3{
    min-height: 100vh;
    background-color: white;
    z-index: 3;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.THIS .element4{
    min-height: 100vh;
    background-color: white;
    z-index: 4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.THIS .textWrapper{
    top: 40vh;
    position: absolute;
    width: 20vw;
    color: white;
    z-index: 99;
    animation: fade2InLeft 2s ease-out forwards;
}
.THIS .larger{
    font-size: 2.75rem;
}
.THIS .imgWrapper{
    top: 35vh;
    position: absolute;
    width: 17vw;
    animation: fade2InRight 2s ease-out forwards;
}
@media screen and (max-width: 1000px) {
    .THIS .presentation-text-large{
        top: 35vh;
        font-size: 5rem;
    }
    .THIS .scroll-up{
        top: 8vh;
    }
    .THIS .scroll-down{
        top: 85vh;
    }
}
@media screen and (max-width: 700px) {
    .THIS .presentation-text-large{
        top: 35vh;
        font-size: 3rem;
    }
    .THIS .larger{
        font-size: 1.75rem;
    }
    .THIS .textWrapper{
        margin-left: -25vw;
        width: 40vw;
    }
    .THIS .imgWrapper{
        width: 40vw;
    }
}