.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    overflow: hidden;
}
.THIS a {
    text-decoration: none;
}

.THIS .style{
    font-size:1.2rem; 
    color:#9fa1a3;
    text-align: center;
}
.THIS .overCloud{
    z-index: 5;
}
.THIS .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    margin-bottom: 2vw;
}
.THIS .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.THIS.cloud {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}
.THIS .cloud-1 {
    top: 0vw;
    position: absolute;
    margin-left: -40vw;
}
.THIS .cloud-2 {
    top: 0vw;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 26vw;
}
.THIS .cloud-1-animated-out {
    animation-name: slide-out-left;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.THIS .cloud-2-animated-out {
    animation-name: slide-out-right;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.THIS .cloud-1-animated-in {
    animation-name: slide-in-left;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.THIS .cloud-2-animated-in {
    animation-name: slide-in-right;
    animation-duration: 2s;
    animation-fill-mode: both;
}
@keyframes slide-out-left {
    from {
        margin-left: -40vw;
    }
    to {
        margin-left: -80vw;
    }
}
@keyframes slide-out-right {
    from {
        margin-left: 26vw;
    }
    to {
        margin-left: 64vw;
    }
}
@keyframes slide-in-left {
    from {
        margin-left: -80vw;
    }
    to {
        margin-left: -40vw;
    }
}
@keyframes slide-in-right {
    from {
        margin-left: 64vw;
    }
    to {
        margin-left: 26vw;
    }
}
@media screen and (max-width: 900px){
    .THIS  {
        padding: 1vw 1vw 1vw 1vw;
    }
    .THIS .card{
		margin-bottom: 40px;
    }
}
@media screen and (max-width: 700px){
    .THIS  {
        padding: 1vw 1vw 1vw 1vw;
        font-size: 0.9rem;
    }
    .THIS .style{
        margin-top: 2vw;
        font-size:0.9rem; 
    }
}