.THIS .newsImg{
    max-width: 100%;
    overflow: hidden;
    border-right:  1px solid #dddddd;
    padding-right: 40px;
    
}
.THIS h1{
    font-size:3rem;
    font-family: arial;
}
.THIS .marginTittleNews{
        margin-left: 48px;
    }
.THIS .BWhite{
    background-color: white;
}

.THIS .background{
    background-image: url('https://lsdemos.force.com/demos/resource/1524656321000/BlueBackground');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.THIS .card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.THIS .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 700px){
    .THIS .newsImg{
        max-width: 100%;
        overflow: hidden;
        border-right:  1px solid white;
        padding-right: 0px;
        border-bottom: 1px solid #dddddd;
        padding-bottom:15px;
    }
    .THIS h1{
        font-family: arial;
    
    }
    .THIS .styleMobile{
        padding: 0rem;
    }
    .THIS .styleMobile1{
        margin: 0rem;
    }
    .THIS .marginTittleNews{
        margin-left: 0px;
    }
}


@media screen and (max-width: 900px){
    .THIS .paddingPage{
        padding:0;
    }
    .THIS .marginTittleNews{
        margin-left: 0px;
        
    }
    .THIS .styleMobile{
        padding: 0rem;
    }
    .THIS .styleMobile1{
        margin: 0rem;
    }
    .THIS h1{
        font-family: arial;
    	font-size: 2rem;
    }
}