.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS .cursiva{
    font-size:1.2rem;
    color: #9fa1a3;
    font-style: italic;
}
.THIS .medium{
    margin-bottom: 8px;
    font-size:1.5rem;
}
.THIS .normal{
    font-size:1.1rem;
    color: #9fa1a3;
}
.THIS .imagen{
    margin-top:60px;
}
.THIS .shadow{
    margin-bottom: 10px;
    box-shadow: 0.4em 0.4em 0.5em grey;
}
.THIS .paddingPage{
    margin-bottom: 10px;
}
.THIS .card {
    padding: 3rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.THIS .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media screen and (max-width: 700px){
    .THIS  {
        font-size: 0.9rem;
        padding: 1vw;
    }
    .THIS .imagen{
		margin-bottom: 40px;
    }
    .THIS .slds-m-around_xx-large{
        margin: 16px 0;
	}
	.THIS .slds-gutters_large {
		padding: 4px;
	}
	.THIS .slds-card {
		padding: 8px;
	}
}
.THIS .ls-center {
	margin-right: auto;
	margin-left: auto;
}
.THIS .slds-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: white;
	border-radius: 12px;
	margin-top: 16px;
	margin-bottom: 16px;
}
.THIS .slds-card:hover {
    box-shadow: 0 0px 9px rgba(0,0,0,0.125), 5px 5px 16px rgba(0,0,0,0.22);
}
.THIS .ls-text-uppercase {
	text-transform: uppercase;
}