.THIS  {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    padding: 5vw 10vw 5vw 10vw;
    overflow: hidden;
}
.THIS.paddingPage{
        padding: 8vw;
    }
    .THIS .text-block {
        padding: 5px 5px ;
        height: 350px;
    }
    .THIS .icon-wrapper{
        height: 150px;
    }
    .THIS td {
        border: 1px solid #ddd; 
        padding: 15px;
        text-align: left
    }
    .THIS table, .THIS th  {
        border: 1px solid #ddd;
        margin-left:100px;
        margin-top:60px;
        text-align: left    
    }
    .THIS .p-box{
        text-align: center;
    }
    .THIS .margin{
        margin-left:100px
    }
    .THIS .table_twitter{
        margin-left:-100px;
        margin-right:100px;
        padding: 2px;
        
    }
    .THIS .table_search{
        margin-left:-100px;
        margin-right:100px;
        padding: 2px; 
    }
    .THIS .table_facebook_account{
        margin-left:-100px;
        margin-right:100px;
        padding: 2px; 
    }
    .THIS .table_facebook_recognition{
        margin-left:-100px;
        margin-right:100px;
        padding: 2px; 
    }
    .THIS .table_release_manager{
        margin-left:-90px;
        margin-right:100px;
        padding: 2px; 
    }
    .THIS .whoarewe{
    font-size:1.2rem; 
    color:#9fa1a3;
        padding-right: 50px;
    }
    .THIS h1{
        font-family: impact;
    }
    .THIS.slds-box_header{
        padding:50px 150px 50px 150px;
    }
    @media screen and (max-width: 900px) {
        .THIS  {
            padding: 5vw 5vw 5vw 5vw;
        }
        .THIS .icon-wrapper{
            height: auto;
        }
        .THIS.slds-box_header{
            padding: 20px 20px 20px 20px;
            border: none;
        }
        .THIS .whoarewe{
            font-size:1.2rem; 
            color:#9fa1a3;
            padding-right: 10px;
        }
        .THIS .text-block {
            padding: 0 ;
            height: auto;
        }
        .THIS table, .THIS th {
            margin-top: 0px;
        }
        .THIS h1{
            font-family: impact;
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 700px) {
        .THIS .whoarewe{
            font-size:0.9rem; 
        }
    }